body{
  padding: 1px 4px;
}
  table {
    width: 50%;
  }
  form{
      width:100%;
  }
  tr td,tr th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 20%;
  }
 
  
